@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dela+Gothic+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: white;/* #FBEBD2; */
    /* Define uma largura máxima para o corpo da página */
    margin: 0;
    width: 100%;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FBEBD2;
    position: fixed; /*fixa o topo na página*/
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    gap: 20px; /* Ajuste o valor conforme necessário */
    z-index: 3; /* Garante que o header fique sobre os outros elementos */
    padding: 10px;
}

/* parte do código para o menu*/
/* Estilos gerais para o menu hambúrguer */
.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
    transform: translateY(-50%); /* Centraliza verticalmente o botão */
    z-index: 1000;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background: #333;
    position: relative;
    display: block;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    width: 30px;
    height: 3px;
    background: #333;
    position: absolute;
    left: 0;
}

.menu-icon::before {
    top: -8px;
}

.menu-icon::after {
    top: 8px;
}

/* Menu lateral */
.mobile-menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60%; /*modifica a largura do menu*/
    height: 45%;
    background: rgba(251, 235, 210, 0.9); /* Fundo branco com transparência */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 50px 50px;
    z-index: 999;
    overflow: auto;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.mobile-menu.active {
    display: block;
    transform: translateX(0);
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;;
    display: block;
    background-color: #7E1312; /* Cor de fundo dos botões */
    padding: 10px 15px;
    border-radius: 15px; /* Borda arredondada para os botões */
    transition: background-color 0.3s; /* Animação suave para a cor do fundo */
}

.mobile-menu ul li:first-child {
    margin-top: 30px; /* Adiciona mais espaço acima do primeiro item */
}
/* Esconde o botão do menu quando o menu está ativo */
.menu-toggle.hidden {
    display: none;
}

body.menu-open {
    overflow: hidden !important;
}

/* fim da parte do código para menu*/

.logo-container {
    align-items: center;
}

.logo {
    width: 150px; /* Ajuste o tamanho conforme a sua imagem */
    height: auto;
    background-color: #FBEBD2; /* Fundo escuro para a logo */
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}

.logo img {
    width: 150px; /* Largura padrão para a logo */
    height: auto; /* Mantém a proporção da logo */
}

.listaTopo {
    margin: 0;
    padding: 0;
    /* Adicionar espaçamento entre os itens */
    gap: 10px;
}

main {
    background-color: #7E1312;
    color: #FBEBD2;
    text-align: center;
    padding: 20px; /* Remove qualquer padding interno */
    margin: 0; /* Remove todas as margens */
    padding-top: 140px; /* Adiciona padding-top para garantir que o main comece abaixo do header */
    height: 800px;
}

main div p {
    margin-top: 10px;
}

footer {
    background-color: #FBEBD2;
    padding: 10px 0; /* Ajusta o espaçamento interno */
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #7E1312;
}

#rappi-icon, #foodtosave-icon {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border: none; /* Remove qualquer borda padrão */
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#app-delivery {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 5px;
}
#informacoes{
    top: 5px;
    height: auto;
    width: 370px;
    padding: 1px;
}
.logo-footer {
    width: auto; /* Ajuste o tamanho conforme a sua imagem */
    height: auto;
    background-color: #FBEBD2; /* Fundo escuro para a logo */
    border-radius: 50%;
    padding: 10px;
}
.icon {
    font-size: 0.9rem;
    color: #7E1312;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 1px;
}
.dev {
    font-size: 0.5rem;
    margin-right: 0;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.menu-toggle {
    display: none; /* Esconde o botão do menu hamburguer por padrão */
}

/*opções para dispositivos maiores
/* Exibe o menu horizontalmente ao lado do logo para dispositivos maiores */
@media (min-width: 1024px) {
    nav {
        display: flex; /* Exibe o menu de navegação em linha */
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; /* Alinha os itens do menu horizontalmente */
    }

    nav li {
        font-family: "Nerko One", cursive;
        margin: 0.2rem; /* Aumenta o espaçamento entre os itens do menu */
        display: inline-block;
        right: 0;
    }

    nav ul li {
        margin: 0 10px; /* Espaço entre itens do menu */
    }
    nav ul li {
        margin: 0 10px;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        padding: 15px 25px;
        border: none; /* Remove a borda padrão */
        border-radius: 1.5rem; /* Borda arredondada */
        /*background-color: #FAF1D1;*/
        background-color: #7E1312;
        font-size: 1rem; /* Tamanho da fonte */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
    }

    nav a:hover {
        background-color: coral;
    }

    .mobile-menu {
        display: none; /* Esconde o menu lateral em dispositivos maiores */
    }
}

@media (max-width: 1280px){
    
    
}

@media (max-width: 1024px) {
    nav {
        display: none; /* Esconde o menu padrão */
    }
}

@media (max-width: 1024px) {
    .menu-toggle {
        display: block; /* Exibe o botão do menu hamburguer */
    }
}

@media (max-width: 768px){
    .menu-toggle {
        display: block;
    }    

}

@media (max-width: 480px) {
    
    .menu-icon {
        display: block;
    }

    .logo img {
        width: 80px; /* Reduz a largura da logo para telas menores */
        height: auto; /* Mantém a proporção da logo */

    }

    .logo-container {
        padding: 5px; /* Ajusta o padding do contêiner da logo */
    }

    header {
        height: auto; /* Permite que a altura do header se ajuste automaticamente */
        padding: 10px; /* Ajusta o padding do header para telas menores */
    }

    
    #contacts {
        padding: 1px;
    }
    #logo-footer img {
        max-width: 80%;
    }
    .icon {
        padding: 0.2rem;
        padding: 0.1rem;
    }
    .icon i {
        margin-bottom: 1px;
    }

    #app-delivery {
        margin-top: 5px;
        margin-right: 2px;
    }

    #app-delivery img {
        max-width: 40px;
        margin: 0 5px;
    }

    #app-delivery a {
        margin: 0 5px;
    }
    .dev {
        margin-top: 5px;
    }

    #direitos {
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
    }

    .whats {
    right: 10px;
    }
    .menu-toggle {
        display: block;
    }
    .menu-toggle.hidden {
        display: none;
    }
    .mobile-menu.active + .menu-toggle {
        display: none; /* Esconde o botão de menu quando o menu está visível */
    }   
}
