@import url(/css/slides.css);
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dela+Gothic+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: white;/* #FBEBD2; */
    /* Define uma largura máxima para o corpo da página */
    margin: 0;
    width: 100%;
    min-height: 150vh; /* Garante que o body ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
}



h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    margin-top: 20px;

}

#textoHome {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FBEBD2;
    position: fixed; /*fixa o topo na página*/
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    gap: 20px; /* Ajuste o valor conforme necessário */
    z-index: 3; /* Garante que o header fique sobre os outros elementos */
    padding: 10px;
}

/* parte do código para o menu*/
/* Estilos gerais para o menu hambúrguer */
.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
    transform: translateY(-50%); /* Centraliza verticalmente o botão */
    z-index: 1000;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background: #333;
    position: relative;
    display: block;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    width: 30px;
    height: 3px;
    background: #333;
    position: absolute;
    left: 0;
}

.menu-icon::before {
    top: -8px;
}

.menu-icon::after {
    top: 8px;
}

/* Menu lateral */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0px;
    margin: 0;
    width: 100%; /*modifica a largura do menu*/
    height: 45%;
    background: rgba(251, 235, 210, 1); /* Fundo branco com transparência */
    z-index: 999;
    overflow: none;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    
}

.mobile-menu.active {
    display: block;
    transform: translateX(0);
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;;
    display: block;
    color: #7E1312; /* Cor de fundo dos botões */
    transition: background-color 0.3s; /* Animação suave para a cor do fundo */
}

.mobile-menu ul li:first-child {
    margin-top: 30px; /* Adiciona mais espaço acima do primeiro item */
}
/* Esconde o botão do menu quando o menu está ativo */
.menu-toggle.hidden {
    display: none;
}

body.menu-open {
    overflow: hidden !important;
}

/* fim da parte do código para menu*/

#apresentacao {
    background-color: #7E1312; 
    color: #FBEBD2; /* Cor do texto */
    text-align:center;
    padding: 10px; /* Espaçamento interno */
    margin-top: 60px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa a largura total da página */
    height: 100%; /* Altura da imagem */
    overflow: hidden; /* Oculta partes da imagem que extrapolem a div */
    position: absolute;
    opacity: 0;
  }

  #slides img {
    width: 100%; /* Largura da imagem */
    height: 100%; /* Altura da imagem preenche a div */
    object-fit: cover; /* Ajusta a imagem para preencher a div proporcionalmente */
  }

.logo-container {
    align-items: center;
}

.logo {
    width: 150px; /* Ajuste o tamanho conforme a sua imagem */
    height: auto;
    background-color: #FBEBD2; /* Fundo escuro para a logo */
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}

.logo img {
    width: 150px; /* Largura padrão para a logo */
    height: auto; /* Mantém a proporção da logo */
}



.listaTopo {
    margin: 0;
    padding: 0;
    /* Adicionar espaçamento entre os itens */
    gap: 10px;
}

#produtos {
    background-color: #7E1312;
    height: 620px;
    padding: 10px;
    width: 100%;
    z-index: 1; /* Certifique-se de que produtos esteja atrás do slider */
}
#produtos h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 50px;
    margin-top: 10px;
    color: #FBEBD2;
}

#produtos h3, h4, h5 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
    color: #FBEBD2;
}

#listaProdutos {
    display: flex;
    width: 100%;
    justify-content:space-around;
    padding:10px;
}

#listaProdutos div {
    /* Estilos para cada item do listaProdutos */
    width: 25%; /* Define a largura de cada item */
    text-align: center;
    padding: 10px;
}

#listaProdutos img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}

#listaProdutos div p {
    
    color: #FBEBD2;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
}

footer {
    background-color: #FBEBD2;
    padding: 10px 0; /* Ajusta o espaçamento interno */
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #7E1312;
   
}

#rappi-icon, #foodtosave-icon {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border: none; /* Remove qualquer borda padrão */
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#app-delivery {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 5px;
}
#informacoes{
    top: 5px;
    height: auto;
    width: 370px;
    padding: 1px;
}
.logo-footer {
    width: auto; /* Ajuste o tamanho conforme a sua imagem */
    height: auto;
    background-color: #FBEBD2; /* Fundo escuro para a logo */
    border-radius: 50%;
    padding: 10px;
}
.icon {
    font-size: 0.9rem;
    color: #7E1312;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 1px;
}
.dev {
    font-size: 0.5rem;
    margin-right: 0;
}


@keyframes pulsar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5; /* Altera a opacidade para 50% */
    }
    100% {
        opacity: 1; /* Retorna à opacidade original */
    }
}

@keyframes tremer {
    0% {
        transform: translate(0); /* Posição original */
    }
    25% {
        transform: translate(-2px, 2px); /* Movimento para cima e para a esquerda */
    }
    50% {
        transform: translate(2px, -2px); /* Movimento para baixo e para a direita */
    }
    75% {
        transform: translate(-2px, -2px); /* Movimento para cima e para a direita */
    }
    100% {
        transform: translate(0); /* Retorna à posição original */
    }
}

.whatsapp-float i {
    font-size: 80px; /* Tamanho do ícone */
    background-color: #128C7E;
    color: #fff; /* Cor do ícone em si */
    padding: 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    animation: pulsar 1.5s infinite, tremer 0.5s infinite;;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 9999;
    width: 75px;
}

.whatsapp-float i:hover {
    background-color: #FBEBD2; /* Muda a cor do ícone ao passar o mouse */
}

.menu-toggle {
    display: none; /* Esconde o botão do menu hamburguer por padrão */
}

/*opções para dispositivos maiores
/* Exibe o menu horizontalmente ao lado do logo para dispositivos maiores */
@media (min-width: 1024px) {
    nav {
        display: flex; /* Exibe o menu de navegação em linha */
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; /* Alinha os itens do menu horizontalmente */
    }

    nav li {
        font-family: "Nerko One", cursive;
        margin: 0.2rem; /* Aumenta o espaçamento entre os itens do menu */
        display: inline-block;
        right: 0;
    }

    nav ul li {
        margin: 0 10px; /* Espaço entre itens do menu */
    }
    nav ul li {
        margin: 0 10px;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        padding: 15px 25px;
        border: none; /* Remove a borda padrão */
        border-radius: 1.5rem; /* Borda arredondada */
        /*background-color: #FAF1D1;*/
        background-color: #7E1312;
        font-size: 1rem; /* Tamanho da fonte */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
    }

    nav a:hover {
        background-color: coral;
    }

    .mobile-menu {
        display: none; /* Esconde o menu lateral em dispositivos maiores */
    }
}

@media (max-width: 1280px){
    #apresentacao {
        padding: 15px; /* Aumenta o espaçamento interno */
        margin-top: 80px; /* Ajusta a margem superior para mais espaço acima */
        font-size: 22px; /* Ajusta o tamanho da fonte para melhor legibilidade */
    }

    #apresentacao h1 {
        font-size: 36px; /* Ajusta o tamanho da fonte para o título */
        margin-top: 20px; /* Margem superior para separar o título do conteúdo */
    }

    #textoHome {
        font-size: 20px; /* Ajusta o tamanho da fonte do parágrafo */
        margin: 0 20px; /* Adiciona margem lateral para evitar o texto colado nas bordas */
    }

    /* Ajusta a altura e o padding do bloco de produtos */
    #produtos {
        height: auto; /* Ajusta a altura para se adaptar ao conteúdo */
        padding: 50px; /* Ajusta o padding interno */
    } 

    #produtos h2 {
        font-size: 50px; /* Ajusta o tamanho da fonte para h2 */
        margin-top: 2px; /* Ajusta a margem superior do h2 */
    }

    #produtos h3, h4, h5 {
        font-size: 40px; /* Ajusta o tamanho da fonte para h2 */
        margin-top: 30px; /* Ajusta a margem superior do h2 */
    }

    #listaProdutos {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se necessário */
        justify-content: space-around;
    }

    #listaProdutos div {
        width: 45%; /* Ajusta a largura dos itens da lista para caber melhor em telas intermediárias */
        text-align: center;
        padding: 15px; /* Ajusta o padding interno */
    }

    #listaProdutos img {
        max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
        height: auto; /* Mantém a proporção da imagem */
    }

    #listaProdutos div p {
        font-size: 30px; /* Ajusta o tamanho da fonte dos parágrafos */
    }
    
}



@media (max-width: 1024px) {

    nav {
        display: none; /* Esconde o menu padrão */
    }
    .menu-toggle {
        display: block; /* Exibe o botão do menu hamburguer */
    }
    #produtos {
        height: auto; /* Ajusta a altura para se adaptar ao conteúdo */
        padding: 50px; /* Ajusta o padding interno */
    } 

    #produtos h2 {
        font-size: 3rem; /* Ajusta o tamanho da fonte para h2 */
        margin-top: 2px; /* Ajusta a margem superior do h2 */
    }

    #produtos h4 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para h2 */
        margin-top: 30px; /* Ajusta a margem superior do h2 */
    }

    #listaProdutos {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se necessário */
        justify-content: space-around;
    }

    #listaProdutos div p {
        font-size: 1.3rem;
    }

    
}

@media (max-width: 768px){
    .menu-toggle {
        display: block;
    }   
    #apresentacao {
        padding: 20px; /* Aumenta o espaçamento interno para dispositivos intermediários */
        margin-top: 70px; /* Ajusta a margem superior, se necessário */
        font-size: 18px; /* Ajusta o tamanho da fonte para melhorar a leitura em dispositivos intermediários */
   }
    
      #apresentacao h1 {
        font-size: 24px; /* Ajusta o tamanho da fonte para h1 em telas intermediárias */
        margin-top: 20px; /* Ajusta a margem superior do h1 */}
    
      #textoHome {
        font-size: 18px; /* Ajusta o tamanho da fonte do parágrafo em telas intermediárias */
        margin: 0 15px; /* Adiciona um pouco de margem lateral */
   
    } 
    /* Ajusta a altura e o padding do bloco de produtos */
    #produtos {
        height: auto; /* Ajusta a altura para se adaptar ao conteúdo */
        padding: 20px; /* Ajusta o padding interno */
    }

    #produtos h2 {
        font-size: 30px; /* Ajusta o tamanho da fonte para h2 */
        margin-top: 10px; /* Ajusta a margem superior do h2 */
    }

    #listaProdutos {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se necessário */
        justify-content: space-around;
    }

    #listaProdutos div {
        width: 45%; /* Ajusta a largura dos itens da lista para caber melhor em telas intermediárias */
        text-align: center;
        padding: 15px; /* Ajusta o padding interno */
    }

    #listaProdutos img {
        max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
        height: auto; /* Mantém a proporção da imagem */
    }

    #listaProdutos div p {
        font-size: 20px; /* Ajusta o tamanho da fonte dos parágrafos */
    }

}

@media (max-width: 480px) {
    
    .logo {
    background-color: none;
    border-radius: none;    
    box-shadow: none;
    }
    .menu-icon {
        display: block;
    }

    .logo img {
        width: 80px; /* Reduz a largura da logo para telas menores */
        height: auto; /* Mantém a proporção da logo */

    }

    .logo-container {
        padding: 5px; /* Ajusta o padding do contêiner da logo */
    }

    header {
        height: auto; /* Permite que a altura do header se ajuste automaticamente */
        padding: 10px; /* Ajusta o padding do header para telas menores */
    }

    
    #apresentacao {
        padding: 10px; /* Aumenta o espaçamento interno para dispositivos menores */
        margin-top: 70px; /* Ajusta a margem superior, se necessário */
        font-size: 14px; /* Ajusta o tamanho da fonte para melhorar a leitura em dispositivos menores */
        height: autopx;
        width: auto;
    }

    #apresentacao h1 {
        font-size: 17px; /* Diminui o tamanho da fonte para h1 em telas menores */
        margin-top: 20px; /* Ajusta a margem superior do h1 */
    }

    #textoHome {
        font-size: 14px; /* Ajusta o tamanho da fonte do parágrafo em telas menores */
        margin: 0 10px; /* Adiciona um pouco de margem lateral */
    }
    #produtos {
        height: auto;
        width: 100%;
        padding: 20px;
    }

    #produtos h2 {
        font-weight: 400px;
        font-size: 25px;
        margin-top: 10px;
    }

    #listaProdutos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Ajuste o espaçamento entre os itens */
    }
    #listaProdutos div {
        width: 100%;
        text-align: center;
        padding: 20px;
      }
      #listaProdutos img {
        width: 80%;
      }
    
        #produtos h4 {
        font-size: 2rem;
        width: 100%;
        font-size: 30px;
    }

    
    #listaProdutos {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
    }
     #contacts {
        padding: 1px;
    }
    #logo-footer img {
        max-width: 80%;
    }
    .icon {
        padding: 0.2rem;
        padding: 0.1rem;
    }
    .icon i {
        margin-bottom: 1px;
    }

    #app-delivery {
        margin-top: 5px;
        margin-right: 2px;
    }

    #app-delivery img {
        max-width: 40px;
        margin: 0 5px;
    }

    #app-delivery a {
        margin: 0 5px;
    }
    .dev {
        margin-top: 5px;
    }

    #direitos {
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
    }

    .whats {
    right: 10px;
    }
    .menu-toggle {
        display: block;
    }
    .menu-toggle.hidden {
        display: none;
    }
    .mobile-menu.active + .menu-toggle {
        display: none; /* Esconde o botão de menu quando o menu está visível */
    }   
}