#slider {
    position: relative;
    width: 100%;
    height: 350px; /* Ajuste a altura conforme necessário */
    overflow: hidden;
    z-index: 1; /* Garantir que o slider fique acima de outros conteúdos */
}
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .slide img {
    width: 100%; /* Largura total da div */
    height: 350px; /* Altura total da div */
    /*object-fit: contain;  Exibe a imagem inteira, podendo esticá-la */
  }
  
  .active {
    opacity: 1;
  
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
  
    padding: 16px;
    color: white;
    font-size: 28px;
    cursor: pointer;
  }
  
  .prev {
    left: 15px;
  }
  
  .next {
    right: 15px;
  }

  @media (max-width: 768px) {
     /* Ajusta a altura do slider para uma melhor visualização em dispositivos intermediários */
     #slider {
      height: 250px; /* Ajuste conforme necessário */
  }

  .slide img {
      height: 250px; /* Ajusta a altura da imagem no slider */
      object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
  }

  /* Ajusta o tamanho das fontes para títulos no slider */
  #slider .prev, #slider .next {
      font-size: 24px; /* Ajusta o tamanho dos botões de navegação */
  }
  }

  @media (max-width: 480px) {
    #slider {
        height: 200px; /* Ajuste a altura para uma melhor visualização em telas pequenas */
    }

    .slide img {
        height: 200px; /* Ajusta a altura da imagem no slider */
        object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    }

    /* Especificando imagens diferentes para telas pequenas */
    .slide img[src="/Site/Images/Slides/paodequeijo.png"] {
        content: url('/Site/Images/Slides/mobile/paodequeijo.png');
    }

    .slide img[src="/Site/Images/Slides/paes.png"] {
        content: url('/Site/Images/Slides/mobile/paes.png');
    }

    .slide img[src="/Site/Images/Slides/Baguetes.png"] {
        content: url('/Site/Images/Slides/mobile/baguetes.png');
    }

    .slide img[src="/Site/Images/Slides/salgados.png"] {
        content: url('/Site/Images/Slides/mobile/salgados.png');
    }

    .slide img[src="/Site/Images/Slides/Combos.png"] {
        content: url('/Site/Images/Slides/mobile/combos.png');
    }

    .prev, .next {
        font-size: 20px; /* Ajusta o tamanho dos botões de navegação */
    }
}
